<!DOCTYPE html>
<html>
	<head>
		<title>[general.title]</title>

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<link rel="stylesheet" href='/theme/files/css/rabbit.css' type="text/css" media="all" />
		<link rel="stylesheet" href='/theme/files/css/bubbles.css' type="text/css" media="all" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/theme/files/js/tricks.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="featured-img" style="background: transparent url([general.headImgSrc]);"></div>
		<div class="container">
			<div class="page-content">
				<div class="main-nav">
					<a href="/">Home</a> |
					<a href="/page2">Page 2</a>
				</div>
				<h1>[general.title]</h1>
			</div>

			<div class="bubble-wrap"></div>
		</div>

	</body>
</html>
