/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/********************************************************/
	a {
		color: #2222ff;
	}
	body {
		font-family: 'Roboto', sans-serif;
		font-size:24px;
	}

	h1 {
		font-size:40px;
		margin-top:50px;
		margin-bottom:8px;
		max-width:100%;
		width:400px;
		color:#fff;
	}
	h2 {
		color:#fff;
		font-style:italic;
		font-size:30px;
		margin-bottom:20px;
	}
	p {
		margin-bottom:20px;
	}
	div.featured-img {
		min-height:200px;
		background-position:cover;
		width:100%;
		margin-bottom:50px;
	}

	hr {
		margin: 20px 0;
	}

	input {
		font-weight:bold;
		cursor: pointer;
		color: #aaf;
		background-color: #fff;
		padding: 5px 10px;
	}
	input:hover {
		background-color: #ddf !important;
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
	.main-nav {
		float:right;
		width:auto;
		max-width:100%;
	}
	.input-box {
		max-width:624px;
		width:100%;
		margin: 100px auto;
		border: 1px solid #000; 
		padding:40px;
		box-sizing:border-box;
		background: #fff;
		opacity: 0.8;
	}
	.input-box label strong {
		display:inline-block;
		max-width:100%;
		width:250px;
	}
	.error {
		color: #ff0000;
	}

.bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	max-width:100%;
	height:100%;
	overflow:hidden;
	background-image:none;
	background-repeat: no-repeat;
	background-size:cover;
	z-index:-999;
	transition: all 1s ease-in-out;
	opacity: 1;
}
.nav {
	float:right;
	color: #888;
	max-width:350px;
	width:100%;
}
.nav li {
	max-width:140px;
	width:100%;
	float:left;
	padding:5px 10px;
}
.nav li a {
	color: #ddd;
	text-decoration:underline;
}
.nav li:hover a {
	color: #fff;
	text-decoration:none;
}
.logo {
	margin-top:10px;
	margin-left:10px;
	float:left;
	max-width:80px;
	width:100%;
}
.logo img {
	max-width:75px;
	width:100%;
}

.page-content {
	background: #fff;
	max-width:100%;
	margin: 0 auto;
	box-sizing:border-box;
	padding:30px;
	margin-top:600px;
}
body .page-content h1, body .cols-def h1 {
	margin-top:0;
	color: #333;
}
body .page-content h2, body .cols-def h2 {
	color:#333;
}
.cols-def {
	background:#fff;
}
body #add-merch {
	background-image: url(/theme/files/img/merch.png);
	right:190px;
}
body #load-template {
	background-image: url(/theme/files/img/template.png);
	right:100px;
}
body #config {
	background-image: url(/theme/files/img/config.png);
	right:280px;
}
#save-all, #load-template, #add-merch, #config {
	min-height:55px;
	position:fixed;
	bottom:10px;
	right:10px;
	max-width:75px !important;
	width:100% !important;
	display:block;
	background-image: url(/theme/files/img/save.png);
	background-size: 75px 75px;
	background-position: 0 0;
	transition: all .3s ease-in-out;
}
#save-all:hover, #load-template:hover, #add-merch:hover, #config:hover {
	min-height:80px;
	transition: all .3s ease-in-out;
	cursor: pointer;
}
.add-col {
	position:absolute;
	top:0;
	right:0;
	z-index:999;
}
.add-row {
	position:absolute;
	left:0;
	top:0;
	z-index:999;
}
.add-col img, .add-row img {
	max-width:75px;
}
.col {
	float:left;
	position:relative;
}
.cols-def {
	position:relative;
	padding-bottom:150px;
	background: #fff;
}
#templatemanager table {
	border: 1px solid #000;
}
#templatemanager table td {
	padding: 5px 10px;
	borxer:3px solid #555;
}

#templatemanager .tpl {
	position: relative;
	margin-bottom:20px;
}
#templatemanager .tpl:hover, #templatemanager span.active {
	cursor: pointer;
}
#templatemanager .tpl:hover span, #templatemanager span.active{
	background-color: #ccc;
	border-radius:50px;
	background-image: url(/theme/files/img/check.png);
	background-size:cover;
	display: block;
	position: absolute;
	top:20px;
	right:10px;
	max-width:50px;
	width:100%;
	height: 50px;
	z-index:999;
}
#templatemanager span.active {
	background-color: #fff !important;
}

label {
	width:100%;
	max-width: 100%;
}

.ui-dialog-titlebar-close {
	display:none !important;
}
.mopt {
	color: #000;
	width:35px;
	height: 35px;
}