		<div class="input-box">
			<h1>[general.title]</h1>
			<p class="error">[general.error]</p>
<form action="" method="post">
[for:db]
			<p><label><strong>Database Host:</strong> [db.CMS_DB_HOST]</label></p>
			<p><label><strong>Database User:</strong> [db.CMS_DB_USER]</label</p>
			<p><label><strong>Database Password:</strong> [db.CMS_DB_PASS]</label</p>
			<p><label><strong>Database Name:</strong> [db.CMS_DB_NAME]</label</p>
[end:db]
			<p><input type="submit" value="Connect & Save Configuration" /></p>
</form>
		</div>

