		<div class="input-box">
			<h1>[general.title]</h1>
			<p class="error">[general.error]</p>
<form action="" method="post">
			<p><label><strong>Admin Name:</strong> [textbox:user.name]</label</p>
			<p><label><strong>Admin Email:</strong> [textbox:user.email]</label</p>
			<p><label><strong>Admin Password:</strong> [password:user.password1]</label</p>
			<p><label><strong>Admin Password (repeat):</strong> [password:user.password2]</label</p>
			<p><input type="submit" value="Login & Save Configuration" /></p>
</form>
		</div>

