<div class="main-editable">
	<div class="nav">
		<ul>
			<li><a href="" data-edit="page.menu[]">Homepage</a></li>
			<li><a href="" data-edit="page.menu[]">Page2</a></li>
		</ul>
	</div>

	<div class="logo"><img src="/theme/files/img/logo.png" /></div>
	<h1 data-edit="general.title">[general.title]</h1>
	<h2>"<span data-edit="site.subtitle">[site.subtitle]</span>"</h2>
	
	<div class="page-content" data-edit="page.content">
		<h1>Lorem ipsum</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus eget dui eu semper. Morbi egestas ultrices dolor, vel tristique enim fermentum at. Ut sit amet volutpat diam. Praesent egestas elit id nisi tincidunt tincidunt. Aliquam commodo tempor arcu sed congue. Vivamus tempus risus sollicitudin dui porttitor, id facilisis ligula consectetur. Duis pharetra ante est, eu porttitor elit ultricies at. Phasellus non lacus eu lacus laoreet vehicula. Quisque tincidunt pharetra orci, id vestibulum neque tempus quis. Aenean ut nisi eget orci ornare maximus. Nulla aliquet elit ac purus malesuada vehicula. Vestibulum facilisis dignissim magna sed feugiat. Sed varius metus sed odio porta interdum.</p>

		<p>Aenean est ipsum, dictum ut felis vitae, molestie aliquam ligula. Vestibulum placerat accumsan lacinia. Nullam egestas nisl lacinia ipsum scelerisque, nec tristique augue fringilla. Cras malesuada dui eget suscipit ultricies. Cras vitae justo pretium, fermentum justo sit amet, sodales sem. Sed accumsan mi vel est vestibulum porta. Nulla efficitur imperdiet sem sit amet ornare. In hac habitasse platea dictumst. Nulla ligula ante, vulputate id leo sit amet, accumsan viverra risus.</p>

		<p>Phasellus non nisl purus. Nam dictum, ante porttitor vestibulum feugiat, diam tellus accumsan felis, nec bibendum justo sapien vitae dolor. Sed volutpat iaculis odio vel feugiat. Vestibulum pretium rutrum ligula ac hendrerit. Donec tortor metus, tincidunt in est in, efficitur varius justo. Pellentesque hendrerit, elit vitae varius venenatis, ipsum leo commodo felis, nec sagittis eros justo eget est. Sed ac metus sodales, cursus quam at, rutrum lacus. Donec vel nisi odio. Fusce feugiat semper cursus. Nulla convallis purus nec nulla dictum, ac malesuada metus auctor. Sed tempor commodo lorem, ac semper ex consectetur ut. </p>
		
	</div>
	
	<a id="config" href="#" title="Configurations"></a>
	<a id="add-merch" href="#" title="Manage Merchandise"></a>
	<a id="load-template" href="#" title="Edit Template"></a>
	<a id="save-all" href="#" title="Save All Changes"></a>
</div>
<div id="config-manager" style="display:none;">
</div>
<div id="templatemanager" style="display:none;">
	<div>
		<h1>Template:</h1>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="2" style="background: #ffff00;">Header</td></tr>
				<tr><td colspan="2" style="background: #ff0000;">Content</td></tr>
				<tr><td colspan="2" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="2" style="background: #ffff00;">Header</td></tr>
				<tr><td style="background: #ff0000;">Content Col1</td><td style="background: #4DEC00;">Content Col2</td></tr>
				<tr><td colspan="2" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="3" style="background: #ffff00;">Header</td></tr>
				<tr><td style="background: #ff0000;">Content Col1</td><td style="background: #4DEC00;">Content Col2</td><td style="background: #ff0000;">Content Col3</td></tr>
				<tr><td colspan="3" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="4" style="background: #ffff00;">Header</td></tr>
				<tr><td style="background: #ff0000;">Content Col1</td><td style="background: #4DEC00;">Content Col2</td><td style="background: #ff0000;">Content Col3</td><td style="background: #4DEC00;">Content Col4</td></tr>
				<tr><td colspan="4" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
	</div>
</div>
<div id="palette_dialog">
		<ul class="palette-nav">
			<li><a href="#main-p">Context</a></li>
			<li><a href="#create-p">Create</a></li>
			<li><a href="#media-p">Media</a></li>
			<li><a href="#more-p">Advanced</a></li>
		</ul>
		<div id="create-p">
			<ul class="palette-nav">
				<li><a href="#">Text/HTML</a></li>
				<li><a href="#">Image</a></li>
				<li><a href="#">Audio</a></li>
				<li><a href="#">Video</a></li>
				<li><a href="#">Slider</a></li>
				<li><a href="#">Embed</a></li>
				<li><a href="#">Products List</a></li>
				<li><a href="#">Blog List</a></li>
				<li><a href="#">File Download</a></li>
				<li><a href="#">Search Box</a></li>
				<li><a href="#">Contact Form</a></li>
				<li><a href="#">YouTube</a></li>
			</ul>
		</div>
		<div id="main-p">
			<p>Select a zone</p>
		</div>
		<div id="media-p">
			<input type="file">
		</div>
		<div id="more-p">
			<p>Visibility: <select>	
				<option value="" selected="selected">Always</option>
				<option value="desktop">Large Devices Only</option>
				<option value="desktop-medium">Large &amp; Medium Devices Only</option>
				<option value="medium">Medium Devices Only</option>
				<option value="medium-mobile">Medium &amp; Small Devices Only</option>
				<option value="mobile">Small Devices Only</option>
			</select></p>
			<p>Animation: <select id="animation">	
				 <optgroup label="Fade">
					<option>fade</option>
					<option>fade-up</option>
					<option>fade-down</option>
					<option>fade-left</option>
					<option>fade-right</option>
					<option>fade-up-right</option>
					<option>fade-up-left</option>
					<option>fade-down-right</option>
					<option>fade-down-left</option>
				 </optgroup>
				 <optgroup label="Flip">
					<option>flip-up</option>
					<option>flip-down</option>
					<option>flip-left</option>
					<option>flip-right</option>
				 </optgroup>
				 <optgroup label="Slide">
					<option>slide-up</option>
					<option>slide-down</option>
					<option>slide-left</option>
					<option>slide-right</option>
				 </optgroup>
				 <optgroup label="Zoom">
					<option>zoom-in</option>
					<option>zoom-in-up</option>
					<option>zoom-in-down</option>
					<option>zoom-in-left</option>
					<option>zoom-in-right</option>
					<option>zoom-out</option>
					<option>zoom-out-up</option>
					<option>zoom-out-down</option>
					<option>zoom-out-left</option>
					<option>zoom-out-right</option>
				 </optgroup>
			</select></p>
			<h3>Screen Margins</h3>
			<p>Large:</p>
			<p>
				<input type="text" placeholder="0" class="mopt spinner">
				<input type="text" placeholder="0"  class="mopt spinner">
				<input type="text" placeholder="0" class="mopt spinner">
				<input type="text" placeholder="0"  class="mopt spinner">
				<select class="mopt"><option>px</option><option>%</option></select>
			</p>
			<p>Medium:</p>
			<p>
				<input type="text" placeholder="0" class="mopt spinner">
				<input type="text" placeholder="0"  class="mopt spinner">
				<input type="text" placeholder="0" class="mopt spinner">
				<input type="text" placeholder="0"  class="mopt spinner">
				<select class="mopt"><option>px</option><option>%</option></select>
			</p>
			<p>Small:</p>
			<p>
				<input type="text" placeholder="0" class="mopt spinner">
				<input type="text" placeholder="0"  class="mopt spinner">
				<input type="text" placeholder="0" class="mopt spinner">
				<input type="text" placeholder="0"  class="mopt spinner">
				<select class="mopt"><option>px</option><option>%</option></select>
			</p>
			
		</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#palette_dialog").tabs();
		$(".spinner").spinner();
	});

	function getWidth() {
		var ww = $(window).width();
		if (ww > 1200) return 1200;
		else if (ww > 1024) return 1024;
		else if (ww > 800) return 800;
		else if (ww > 600) return 600;
		else if (ww > 300) return 300;
	}

	var cols = 0;
	$(".tpl").click(function() {
		$("#templatemanager span").removeClass("active")
		$(this).find("span").addClass("active");
	});
	
	//$("#animation").selectmenu();
	
	
	wizPalY = (typeof ($.cookie('wizPalY')) != "undefined") ? $.cookie('wizPalY') : 100;
	wizPalX = (typeof ($.cookie('wizPalX')) != "undefined") ? $.cookie('wizPalX') : 100;
	$('#palette_dialog').dialog({
		closeOnEscape: false,
		title: "Config Palette",
		autoOpen: true,
		height: 450,
		width: 460,
		modal: false,
		position: { my: "left top", at: "left+"+wizPalX+" top+"+wizPalY, of: window },
		dragStop: function( event, ui ) {
			$.cookie('wizPalY', ui.position.top);
			$.cookie('wizPalX', ui.position.left);
		}
	});
	
	$("#config").click(function() {

		$("#config-manager").html("");

		var ii = 0;
		$('*[data-edit]').each(function() {
			$("#config-manager").append("<div id='editor"+ii+"'><label>"+$(this).attr("data-edit")+"</label><div class='editme' data-selector='"+$(this).attr("data-edit")+"'>"+$(this).html()+"</div></div>");
			ii++;
		});

		$('#config-manager').dialog({
			title: "Config Manager",
			autoOpen: true,
			height: 600,
			width: getWidth(),
			modal: true,
			position: { my: "center", at: "center", of: window },
			buttons: {
				"Cancel": function() {
					$(this).dialog("close");
				},
				"Save": function() {
					$(this).dialog("close");
				},
				"Apply": function() {
					var inst, contents = new Object();
					for (inst in tinyMCE.editors) {
						var c = tinyMCE.editors[inst].getContent();
						var sel = $(tinyMCE.editors[inst].targetElm).attr('data-selector');
						if (typeof sel != "undefined") {
							for (i in tinyMCE.editors) {
								if ($(tinyMCE.editors[i].targetElm).attr("data-edit") == sel) {
									tinyMCE.editors[i].setContent(c);
								}
							}
						}
					}					

					$(this).dialog("close");
				}
			}
		});

		tinymce.init({
			branding: false,
			width: "100%",
			max_width: "100%",
			selector:'.editme',
			menubar: false,
			inline: false,
			plugins: [
				'lists',
				'autolink',
				'link'
			],
			powerpaste_word_import: 'clean',
			powerpaste_html_import: 'clean',
			toolbar: [
				'undo redo | bold italic underline | link | fontselect fontsizeselect',
				'forecolor backcolor | alignleft aligncenter alignright alignfull | numlist bullist outdent indent'
			]
		});


		return false;
	});

	$("#load-template").click(function() {
		$('#templatemanager').dialog({
			title: "Template Manager",
			autoOpen: true,
			height: 600,
			width: getWidth(),
			modal: true,
			buttons: {
				"Cancel": function() {
					$(this).dialog("close");
				},
				"Save & Close": function() {
					$(this).dialog("close");
				}
			}
		});
		return false;
	});
	
	$(function() {
		$(".bg.step1").css("background-image", "url(/theme/files/img/magic.jpg)");
		initEditor();
	});
	
</script>
