<div class="main-editable">
	<div class="nav">
		<ul>
			<li><a href="" data-edit="page.menu[]">Homepage</a></li>
			<li><a href="" data-edit="page.menu[]">Page2</a></li>
		</ul>
	</div>

	<div class="logo"><img src="/theme/files/img/logo.png" /></div>
	<h1 data-edit="site.title">[site.title]</h1>
	<h2>"<span data-edit="site.subtitle">[site.subtitle]</span>"</h2>
	
	<div class="page-content" data-edit="page.content">
		<h1>Lorem ipsum</h1>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus eget dui eu semper. Morbi egestas ultrices dolor, vel tristique enim fermentum at. Ut sit amet volutpat diam. Praesent egestas elit id nisi tincidunt tincidunt. Aliquam commodo tempor arcu sed congue. Vivamus tempus risus sollicitudin dui porttitor, id facilisis ligula consectetur. Duis pharetra ante est, eu porttitor elit ultricies at. Phasellus non lacus eu lacus laoreet vehicula. Quisque tincidunt pharetra orci, id vestibulum neque tempus quis. Aenean ut nisi eget orci ornare maximus. Nulla aliquet elit ac purus malesuada vehicula. Vestibulum facilisis dignissim magna sed feugiat. Sed varius metus sed odio porta interdum.</p>

		<p>Aenean est ipsum, dictum ut felis vitae, molestie aliquam ligula. Vestibulum placerat accumsan lacinia. Nullam egestas nisl lacinia ipsum scelerisque, nec tristique augue fringilla. Cras malesuada dui eget suscipit ultricies. Cras vitae justo pretium, fermentum justo sit amet, sodales sem. Sed accumsan mi vel est vestibulum porta. Nulla efficitur imperdiet sem sit amet ornare. In hac habitasse platea dictumst. Nulla ligula ante, vulputate id leo sit amet, accumsan viverra risus.</p>

		<p>Phasellus non nisl purus. Nam dictum, ante porttitor vestibulum feugiat, diam tellus accumsan felis, nec bibendum justo sapien vitae dolor. Sed volutpat iaculis odio vel feugiat. Vestibulum pretium rutrum ligula ac hendrerit. Donec tortor metus, tincidunt in est in, efficitur varius justo. Pellentesque hendrerit, elit vitae varius venenatis, ipsum leo commodo felis, nec sagittis eros justo eget est. Sed ac metus sodales, cursus quam at, rutrum lacus. Donec vel nisi odio. Fusce feugiat semper cursus. Nulla convallis purus nec nulla dictum, ac malesuada metus auctor. Sed tempor commodo lorem, ac semper ex consectetur ut. </p>
		
	</div>
	
	<a id="config" href="#" title="Configurations"></a>
	<a id="add-merch" href="#" title="Manage Merchandise"></a>
	<a id="load-template" href="#" title="Edit Template"></a>
	<a id="save-all" href="#" title="Save All Changes"></a>
</div>
<div id="templatemanager" style="display:none;">
	<div>
		<h1>Template:</h1>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="2" style="background: #ffff00;">Header</td></tr>
				<tr><td colspan="2" style="background: #ff0000;">Content</td></tr>
				<tr><td colspan="2" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="2" style="background: #ffff00;">Header</td></tr>
				<tr><td style="background: #ff0000;">Content Col1</td><td style="background: #4DEC00;">Content Col2</td></tr>
				<tr><td colspan="2" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="3" style="background: #ffff00;">Header</td></tr>
				<tr><td style="background: #ff0000;">Content Col1</td><td style="background: #4DEC00;">Content Col2</td><td style="background: #ff0000;">Content Col3</td></tr>
				<tr><td colspan="3" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
		<div class="tpl">
			<table width="100%">
				<tr><td colspan="4" style="background: #ffff00;">Header</td></tr>
				<tr><td style="background: #ff0000;">Content Col1</td><td style="background: #4DEC00;">Content Col2</td><td style="background: #ff0000;">Content Col3</td><td style="background: #4DEC00;">Content Col4</td></tr>
				<tr><td colspan="4" style="background: #ffff00;">Footer</td></tr>
			</table>
			<span></span>
		</div>
	</div>
</div>

<script type="text/javascript">
	var cols = 0;
	$(".tpl").click(function() {
		$("#templatemanager span").removeClass("active")
		$(this).find("span").addClass("active");
	});
	$(".add-col").click(function() {
		cols++;
		$(this).parents(".cols-def").append($("#col-tpl").html());
		$(this).parents(".cols-def").find(".col").css("width",parseInt( (1 / cols) * 100, 10) + "%");

		initEditor();
		
		return false;
	});
	
	$("#load-template").click(function() {
		$('#templatemanager').dialog({
			title: "Template Manager",
			autoOpen: true,
			height: 600,
			width: 800,
			modal: true,
			buttons: {
				"Cancel": function() {
					$(this).dialog("close");
				},
				"Save & Close": function() {
					$(this).dialog("close");
				}
			}
		});
		return false;
	});
	
	$(function() {
		$(".bg.step1").css("background-image", "url(/theme/files/img/magic.jpg)");
		initEditor();
	});
	
</script>
<script type="text/javascript">
function initEditor() {
	tinymce.remove();
	tinymce.init({
		//theme : "advanced",
		//theme_advanced_toolbar_location : "bottom",

		/*
		// add class to edited element
		setup:function(ed) {
			ed.on('change', function(e) {
				if (tinymce.activeEditor.isDirty()) console.log("test");
				$(tinymce.activeEditor.selection.getNode()).attr("tested","test");
			});
		},
		*/

		selector:'*[data-edit]',
		menubar: false,
		inline: true,
		plugins: [
			'textcolor',
			'lists',
			'powerpaste',
			'autolink',
			'link'
		],
		powerpaste_word_import: 'clean',
		powerpaste_html_import: 'clean',
		toolbar: [
			'undo redo | bold italic underline | link | fontselect fontsizeselect',
			'forecolor backcolor | alignleft aligncenter alignright alignfull | numlist bullist outdent indent'
		]
	});
}
setInterval(function(){ 
	$(".tox").each(function() {
		if (parseInt($(this).css("top"), 10) < 0) {
			$(this).css("top", "auto");
			$(this).css("bottom", "0");
		}
	});
}, 1000);
</script>